.listItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

.innerObject{
    display: flex;
    flex-direction: row;
    
}

.listItemFull{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
}

.innerObjectFull{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        
}    